.block{
    background-color: whitesmoke;
}
.mark-block:hover{
    background-color: rgb(245, 194, 185);
}
.mark-block:active{
border: 2px solid red;
color: red;
background-color: rgb(245, 194, 185);
}
.money-text{
    border-bottom: 1px solid;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.link-2{
    background-color: tomato;
    text-decoration: none;
    display: inline-block;
    
}
.input{
    outline: none;
    border: none;
}
.card h4,p{
    text-align: left;
}
.icon{
    width: 50px;
    margin-bottom: 5px;
}
.email{
    background-color: rgb(238, 187, 178);
}
 @media screen and (max-width:768px){
     .single-div{
         display: flex;
         flex-direction: column;
         width: 150px;
         margin: 0 auto;
      
     }
     
 }
 @media  screen and (max-width:576px) {
     .icon{
         margin:0 auto;
     }
     .headings{
        margin:0 auto;
     }
     .para{
         text-align: center;
     }
 }